!!!5
html
  head
    title #{title} - Free Puntos
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    .container
      .main-content
        block content
      .left-side
        block left-side
      .right-side   
        block right-side
    footer
      p Free Puntos - A point system for living the life you want to live.
